In [1]:
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [2]:
spark = SparkSession.builder.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/manual/spark-3.1.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
2023-02-24 19:59:51,090 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
df = spark.read.format("csv").option("header", True).load("file:///home/train/datasets/order_status/")

In [4]:
df.limit(5).toPandas()

  ORDER_ID SUBSCRIBER_ID STATUS_DATE STATUS_TIME    STATUS
0   100159        200427    20230223       83209  ASSIGNED
1   100159        200427    20230223       74232  RETURNED
2   100159        200427    20230222       95056   CREATED
3   100410        200366    20230223       91017  ASSIGNED
4   100410        200366    20230223       30301  RETURNED

In [5]:
df.printSchema()

root
 |-- ORDER_ID: string (nullable = true)
 |-- SUBSCRIBER_ID: string (nullable = true)
 |-- STATUS_DATE: string (nullable = true)
 |-- STATUS_TIME: string (nullable = true)
 |-- STATUS: string (nullable = true)

In [6]:
df.groupBy("STATUS").count().orderBy(F.desc("count")).show()

+---------+-----+
|   STATUS|count|
+---------+-----+
|  CREATED|  586|
| RETURNED|  346|
|COMPLETED|  290|
| ASSIGNED|  165|
|     POOL|  100|
|CANCELLED|   31|
+---------+-----+

# Timestamp format

In [7]:
df2 = df.withColumn("TS2", F.concat(F.col("STATUS_DATE"), F.lit(" "), F.col("STATUS_TIME"))) \
.withColumn("TS", F.to_timestamp(F.col("TS2"), "yyyyMMdd Hmmss"))

df2.limit(5).toPandas()

,ORDER_ID,SUBSCRIBER_ID,STATUS_DATE,STATUS_TIME,STATUS,TS2,TS
0,100159,200427,20230223,83209,ASSIGNED,20230223 83209,2023-02-23 08:32:09
1,100159,200427,20230223,74232,RETURNED,20230223 74232,2023-02-23 07:42:32
2,100159,200427,20230222,95056,CREATED,20230222 95056,2023-02-22 09:50:56
3,100410,200366,20230223,91017,ASSIGNED,20230223 91017,2023-02-23 09:10:17
4,100410,200366,20230223,30301,RETURNED,20230223 30301,2023-02-23 03:03:01

In [8]:
df3 = df2.drop("TS2")

df3.limit(5).toPandas()

  ORDER_ID SUBSCRIBER_ID STATUS_DATE STATUS_TIME    STATUS                  TS
0   100159        200427    20230223       83209  ASSIGNED 2023-02-23 08:32:09
1   100159        200427    20230223       74232  RETURNED 2023-02-23 07:42:32
2   100159        200427    20230222       95056   CREATED 2023-02-22 09:50:56
3   100410        200366    20230223       91017  ASSIGNED 2023-02-23 09:10:17
4   100410        200366    20230223       30301  RETURNED 2023-02-23 03:03:01

# CREATE DATE END DATE

# Window

In [14]:
df4 = df3.withColumn("order_min_ts", F.min("TS").over(Window.partitionBy("ORDER_ID")))  \
         .withColumn("order_max_ts", F.max("TS").over(Window.partitionBy("ORDER_ID"))) \
         .withColumn("rn", F.row_number().over(Window.partitionBy("ORDER_ID").orderBy(F.desc("TS")))) \
         .orderBy("ORDER_ID", "rn")

df4.limit(5).toPandas()

,ORDER_ID,SUBSCRIBER_ID,STATUS_DATE,STATUS_TIME,STATUS,TS,order_min_ts,order_max_ts,rn
0,100001,200574,20230223,81438,ASSIGNED,2023-02-23 08:14:38,2023-02-22 09:53:06,2023-02-23 08:14:38,1
1,100001,200574,20230223,74734,RETURNED,2023-02-23 07:47:34,2023-02-22 09:53:06,2023-02-23 08:14:38,2
2,100001,200574,20230222,95306,CREATED,2023-02-22 09:53:06,2023-02-22 09:53:06,2023-02-23 08:14:38,3
3,100002,200121,20230222,93712,POOL,2023-02-22 09:37:12,2023-02-22 09:37:12,2023-02-22 09:37:12,1
4,100002,200121,20230222,93712,CREATED,2023-02-22 09:37:12,2023-02-22 09:37:12,2023-02-22 09:37:12,2

In [15]:
df5 = df4.withColumn("START_DATE", F.col("order_min_ts")) \
         .withColumn("END_DATE", F.when(F.col("STATUS").isin("COMPLETED", "CANCELLED"), 
                               F.col("order_max_ts"))).where("rn = 1")


df5.limit(20).toPandas()

,ORDER_ID,SUBSCRIBER_ID,STATUS_DATE,STATUS_TIME,STATUS,TS,order_min_ts,order_max_ts,rn,START_DATE,END_DATE
0,100001,200574,20230223,81438,ASSIGNED,2023-02-23 08:14:38,2023-02-22 09:53:06,2023-02-23 08:14:38,1,2023-02-22 09:53:06,NaT
1,100002,200121,20230222,93712,POOL,2023-02-22 09:37:12,2023-02-22 09:37:12,2023-02-22 09:37:12,1,2023-02-22 09:37:12,NaT
2,100003,200432,20230223,82249,ASSIGNED,2023-02-23 08:22:49,2023-02-22 09:40:01,2023-02-23 08:22:49,1,2023-02-22 09:40:01,NaT
3,100004,200234,20230222,104426,COMPLETED,2023-02-22 10:44:26,2023-02-22 09:37:58,2023-02-22 10:44:26,1,2023-02-22 09:37:58,2023-02-22 10:44:26
4,100005,200546,20230222,94727,POOL,2023-02-22 09:47:27,2023-02-22 09:47:27,2023-02-22 09:47:27,1,2023-02-22 09:47:27,NaT
5,100006,200369,20230223,91333,ASSIGNED,2023-02-23 09:13:33,2023-02-22 10:54:13,2023-02-23 09:13:33,1,2023-02-22 10:54:13,NaT
6,100007,200486,20230223,91359,ASSIGNED,2023-02-23 09:13:59,2023-02-22 10:54:48,2023-02-23 09:13:59,1,2023-02-22 10:54:48,NaT
7,100008,200190,20230223,83004,ASSIGNED,2023-02-23 08:30:04,2023-02-22 09:43:31,2023-02-23 08:30:04,1,2023-02-22 09:43:31,NaT
8,100009,200058,20230222,195548,COMPLETED,2023-02-22 19:55:48,2023-02-22 09:49:51,2023-02-22 19:55:48,1,2023-02-22 09:49:51,2023-02-22 19:55:48
9,100010,200253,20230222,120725,COMPLETED,2023-02-22 12:07:25,2023-02-22 09:43:01,2023-02-22 12:07:25,1,2023-02-22 09:43:01,2023-02-22 12:07:25
10,100011,200207,20230223,82822,ASSIGNED,2023-02-23 08:28:22,2023-02-22 10:56:06,2023-02-23 08:28:22,1,2023-02-22 10:56:06,NaT
11,100012,200534,20230222,162434,COMPLETED,2023-02-22 16:24:34,2023-02-22 09:49:27,2023-02-22 16:24:34,1,2023-02-22 09:49:27,2023-02-22 16:24:34
12,100013,200494,20230222,233519,COMPLETED,2023-02-22 23:35:19,2023-02-22 09:41:34,2023-02-22 23:35:19,1,2023-02-22 09:41:34,2023-02-22 23:35:19
13,100014,200062,20230222,225858,COMPLETED,2023-02-22 22:58:58,2023-02-22 09:50:31,2023-02-22 22:58:58,1,2023-02-22 09:50:31,2023-02-22 22:58:58
14,100015,200370,20230222,104122,COMPLETED,2023-02-22 10:41:22,2023-02-22 09:42:46,2023-02-22 10:41:22,1,2023-02-22 09:42:46,2023-02-22 10:41:22
15,100016,200482,20230222,94401,POOL,2023-02-22 09:44:01,2023-02-22 09:44:01,2023-02-22 09:44:01,1,2023-02-22 09:44:01,NaT
16,100017,200096,20230222,141120,COMPLETED,2023-02-22 14:11:20,2023-02-22 09:45:41,2023-02-22 14:11:20,1,2023-02-22 09:45:41,2023-02-22 14:11:20
17,100018,200582,20230222,165404,COMPLETED,2023-02-22 16:54:04,2023-02-21 16:37:23,2023-02-22 16:54:04,1,2023-02-21 16:37:23,2023-02-22 16:54:04
18,100019,200304,20230223,85916,ASSIGNED,2023-02-23 08:59:16,2023-02-22 10:57:02,2023-02-23 08:59:16,1,2023-02-22 10:57:02,NaT
19,100020,200050,20230222,222741,COMPLETED,2023-02-22 22:27:41,2023-02-22 10:52:53,2023-02-22 22:27:41,1,2023-02-22 10:52:53,2023-02-22 22:27:41

In [16]:
df5.printSchema()

root
 |-- ORDER_ID: string (nullable = true)
 |-- SUBSCRIBER_ID: string (nullable = true)
 |-- STATUS_DATE: string (nullable = true)
 |-- STATUS_TIME: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- TS: timestamp (nullable = true)
 |-- order_min_ts: timestamp (nullable = true)
 |-- order_max_ts: timestamp (nullable = true)
 |-- rn: integer (nullable = true)
 |-- START_DATE: timestamp (nullable = true)
 |-- END_DATE: timestamp (nullable = true)

In [17]:
df6 = df5.withColumn("DURATION", F.when(F.col("END_DATE").isNull(), 0) \
                        .otherwise(  (F.col("END_DATE").cast(LongType()) - F.col("START_DATE").cast(LongType())) / 3600  )) \
.drop("STATUS_DATE", "STATUS_TIME", "TS", "order_min_ts", "order_max_ts", "rn")

#  - F.col("START_DATE")

In [18]:
df6.limit(50).toPandas()

,ORDER_ID,SUBSCRIBER_ID,STATUS,START_DATE,END_DATE,DURATION
0,100001,200574,ASSIGNED,2023-02-22 09:53:06,NaT,0.000000
1,100002,200121,POOL,2023-02-22 09:37:12,NaT,0.000000
2,100003,200432,ASSIGNED,2023-02-22 09:40:01,NaT,0.000000
3,100004,200234,COMPLETED,2023-02-22 09:37:58,2023-02-22 10:44:26,1.107778
4,100005,200546,POOL,2023-02-22 09:47:27,NaT,0.000000
5,100006,200369,ASSIGNED,2023-02-22 10:54:13,NaT,0.000000
6,100007,200486,ASSIGNED,2023-02-22 10:54:48,NaT,0.000000
7,100008,200190,ASSIGNED,2023-02-22 09:43:31,NaT,0.000000
8,100009,200058,COMPLETED,2023-02-22 09:49:51,2023-02-22 19:55:48,10.099167
9,100010,200253,COMPLETED,2023-02-22 09:43:01,2023-02-22 12:07:25,2.406667
10,100011,200207,ASSIGNED,2023-02-22 10:56:06,NaT,0.000000
11,100012,200534,COMPLETED,2023-02-22 09:49:27,2023-02-22 16:24:34,6.585278
12,100013,200494,COMPLETED,2023-02-22 09:41:34,2023-02-22 23:35:19,13.895833
13,100014,200062,COMPLETED,2023-02-22 09:50:31,2023-02-22 22:58:58,13.140833
14,100015,200370,COMPLETED,2023-02-22 09:42:46,2023-02-22 10:41:22,0.976667
15,100016,200482,POOL,2023-02-22 09:44:01,NaT,0.000000
16,100017,200096,COMPLETED,2023-02-22 09:45:41,2023-02-22 14:11:20,4.427500
17,100018,200582,COMPLETED,2023-02-21 16:37:23,2023-02-22 16:54:04,24.278056
18,100019,200304,ASSIGNED,2023-02-22 10:57:02,NaT,0.000000
19,100020,200050,COMPLETED,2023-02-22 10:52:53,2023-02-22 22:27:41,11.580000
20,100021,200264,ASSIGNED,2023-02-22 09:43:26,NaT,0.000000
21,100022,200081,COMPLETED,2023-02-22 09:42:23,2023-02-22 22:09:54,12.458611
22,100023,200310,COMPLETED,2023-02-22 10:57:22,2023-02-23 01:12:29,14.251944
23,100024,200537,COMPLETED,2023-02-22 10:56:50,2023-02-22 13:04:24,2.126111
24,100025,200201,ASSIGNED,2023-02-22 10:53:11,NaT,0.000000
25,100026,200097,COMPLETED,2023-02-22 09:49:18,2023-02-22 16:06:08,6.280556
26,100027,200320,COMPLETED,2023-02-21 16:37:39,2023-02-22 12:07:00,19.489167
27,100028,200083,POOL,2023-02-22 09:47:36,NaT,0.000000
28,100029,200460,COMPLETED,2023-02-22 09:39:25,2023-02-22 13:33:38,3.903611
29,100030,200144,ASSIGNED,2023-02-22 09:46:39,NaT,0.000000
30,100031,200542,POOL,2023-02-22 09:44:48,NaT,0.000000
31,100032,200276,COMPLETED,2023-02-22 10:58:00,2023-02-22 11:12:03,0.234167
32,100033,200518,POOL,2023-02-22 09:36:49,NaT,0.000000
33,100034,200360,ASSIGNED,2023-02-22 09:38:52,NaT,0.000000
34,100035,200538,ASSIGNED,2023-02-22 09:46:31,NaT,0.000000
35,100036,200245,RETURNED,2023-02-22 09:50:36,NaT,0.000000
36,100037,200095,COMPLETED,2023-02-22 10:53:26,2023-02-22 15:06:15,4.213611
37,100038,200572,ASSIGNED,2023-02-22 09:44:55,NaT,0.000000
38,100039,200355,COMPLETED,2023-02-22 09:49:24,2023-02-22 21:49:09,11.995833
39,100040,200470,COMPLETED,2023-02-22 09:54:41,2023-02-22 22:35:17,12.676667
40,100041,200303,COMPLETED,2023-02-22 09:53:37,2023-02-22 13:09:26,3.263611
41,100042,200412,COMPLETED,2023-02-22 10:55:57,2023-02-23 03:51:06,16.919167
42,100043,200314,COMPLETED,2023-02-22 10:53:17,2023-02-23 09:20:01,22.445556
43,100044,200554,COMPLETED,2023-02-22 09:36:13,2023-02-23 07:16:06,21.664722
44,100045,200396,COMPLETED,2023-02-22 09:39:00,2023-02-22 11:55:05,2.268056
45,100046,200352,POOL,2023-02-21 16:40:04,NaT,0.000000
46,100047,200321,COMPLETED,2023-02-22 09:49:29,2023-02-22 14:46:32,4.950833
47,100048,200381,POOL,2023-02-22 09:37:09,NaT,0.000000
48,100049,200281,COMPLETED,2023-02-22 09:36:03,2023-02-22 13:05:41,3.493889
49,100050,200548,ASSIGNED,2023-02-22 09:37:30,NaT,0.000000

In [19]:
df6.printSchema()

root
 |-- ORDER_ID: string (nullable = true)
 |-- SUBSCRIBER_ID: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- START_DATE: timestamp (nullable = true)
 |-- END_DATE: timestamp (nullable = true)
 |-- DURATION: double (nullable = true)

In [ ]:
spark.stop()